<div class="container">
  <h1 style="text-align: center">Admin</h1>
  <form action="#">
    <label for="Name">Name of the product</label>
    <input type="text" id="Name" placeholder="Name" />
    <div>
      <label for="price">Price of the product</label>
      <input type="number" id="price" placeholder="$" />
    </div>
    <div>
      <textarea name="0" id="" rows="5" placeholder="Description"></textarea>
    </div>
    <div id="img">
      <input type="file" />
    </div>
    <div>
      <button mat-raised-button color="warn">Submit</button>
    </div>
  </form>
</div>
